<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.drivenowac.*" />
	<context:component-scan base-package="com.drivenowcore.ac.*" />
	<mvc:resources mapping="/bootstrap/**" location="/resources/bootstrap/" />
	<mvc:resources mapping="/dist/**" location="/resources/dist/" />
	<mvc:resources mapping="/plugins/**" location="/resources/plugins/" />
	<mvc:annotation-driven />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/views/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<bean id="adminService" class="com.drivenowac.service.impl.AdminServiceImpl">
	</bean>
	<bean id="adminDAO" class="com.drivenowac.dao.impl.AdminDAOImpl">
	</bean>

	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/postgres?currentSchema=flameka" />
		<property name="username" value="postgres" />
		<property name="password" value="password" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds"></property>
	</bean>



</beans>