<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<http auto-config="true">
		<intercept-url pattern="/loginPage*" access="permitAll"/>
		<intercept-url pattern="/Resource*" access="permitAll"/>
		<intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/welcome**" access="hasRole('ROLE_ADMIN')" />
		
	
		
		<form-login  login-page="/loginPage" 
					default-target-url="/welcome" 
					login-processing-url="/j_spring_security_check"   
					username-parameter="username" 
					password-parameter="password" 
					authentication-failure-url="/Access_Denied" />
        <csrf/>
		<logout logout-success-url="/loginPage?logout"  />
		
	</http>

	 <authentication-manager>
          <authentication-provider>
             <jdbc-user-service data-source-ref="ds" authorities-by-username-query="SELECT email_id as username,'ROLE_ADMIN' as authority FROM admin WHERE email_id = ?"
                users-by-username-query="SELECT email_id as username, password, '1' as enabled FROM admin WHERE email_id = ?"/>
          </authentication-provider>
        </authentication-manager>
      <!--    <authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="bajra" password="iamnali" authorities="ROLE_USER" />
				<user name="suman" password="123456" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
		</authentication-manager> -->

</beans:beans>